version: "3.8"

services:

  api-gateway:
    image: lahari157/api-gateway:latest
    container_name: api-gateway
    restart: always
    ports:
      - "8083:8083"
    env_file:
      - .env
    environment:
      SERVER_PORT: 8083
      REDIS_HOST: redis
      REDIS_PORT: 6379
      EUREKA_URL: http://eureka-server:8761/eureka/
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - redis
      - eureka-server
    networks:
      - micro-net

  auth-service:
    image: lahari157/auth-service:latest
    container_name: auth-service
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DB_URL: ${AUTH_DB_URL}
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      - kafka
      - eureka-server
    networks:
      - micro-net

  cart-service:
    image: lahari157/cart-service:latest
    container_name: cart-service
    restart: always
    ports:
      - "8081:8081"
    env_file:
      - .env
    environment:
      DB_URL: ${CART_DB_URL}
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      - kafka
      - eureka-server
    networks:
      - micro-net

  order-service:
    image: lahari157/order-service:latest
    container_name: order-service
    restart: always
    ports:
      - "8082:8082"
    env_file:
      - .env
    environment:
      DB_URL: ${ORDER_DB_URL}
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      EUREKA_URL: ${EUREKA_URL}
      ZIPKIN_ENDPOINT: ${ZIPKIN_ENDPOINT}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - kafka
      - eureka-server
    networks:
      - micro-net

  product-service:
    image: lahari157/product-service:latest
    container_name: product-service
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      DB_URL: ${PRODUCT_DB_URL}
      EUREKA_URL: ${EUREKA_URL}
      ZIPKIN_ENDPOINT: ${ZIPKIN_ENDPOINT}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - eureka-server
    networks:
      - micro-net

  email-service:
    image: lahari157/email-service:latest
    container_name: email-service
    restart: always
    ports:
      - "8084:8084"
    env_file:
      - .env
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      - kafka
      - eureka-server
    networks:
      - micro-net

  eureka-server:
    image: lahari157/eureka-server:latest
    container_name: eureka-server
    restart: always
    ports:
      - "8761:8761"
    env_file:
      - .env
    environment:
      SERVER_PORT: 8761
    networks:
      - micro-net

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - micro-net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    restart: always
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - micro-net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    restart: always
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - micro-net

networks:
  micro-net:
    driver: bridge
